@import "vars";

* { box-sizing: border-box; }

body {
  font-size: $fontSize-base;
  font-family: "Hind Siliguri", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5; margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

header {
  text-align: center;
  margin-bottom: $base-spacingDouble;
  font-size: $fontSize-lg;
  font-weight: 600;
  color: $white;
  text-decoration: underline;
}

h2 {
  color: $white;
  font-size: $fontSize-base;
  font-weight: 300;
  top: -10px;
  position: relative;
}

p {
  font-size: $fontSize-base;
  color: $white;
  margin-bottom: $base-spacing;
}

a {
  color: $white;
  text-decoration: none;
  transition: all .1s ease-in-out;
  display: inline-block;
}

ul {
  margin-bottom: $base-spacingDouble;
  list-style: none;
}

li {
  font-size: $fontSize-base;
  color: $white;
  padding-left: $base-spacing;
}

li:first-of-type {
  font-size: $fontSize-m;
  font-weight: 500;
  color: $darkGrey;
  padding-left: 0;
}

aside {
  display: inline-block;
  font-size: $fontSize-xm;
  font-weight: 600;
  padding-left: $base-spacing;
}

img { width: 100%; }