.skills { background-color: $blue; }

.about { background-color: $orange; }

.contact {
  background-color: $darkGrey;
  position: relative;
}

.contactAnchor {
  color: $blue;
  text-decoration: underline;
}

.TWP-logo--sm { width: 12.5rem; } // 200px

.TWP-logo--lg {
  width: 12.5rem;
  display: none;
  position: absolute;
  right: 4.5rem; // 72px
  bottom: 3.25rem; // 52px
}

.bp-logo {
  position: absolute;
  width: 6.25rem; // 100px
  top: $base-spacing;
  left: $base-spacing;
  opacity: 0.3;
  display: none;
}

.backToTop-btn {
  width: 6.25rem; // 100px
  margin: $base-spacingDouble auto;
}

.siteContainer {
  min-width: 18.75rem; // 300px
  margin: 0 auto;
  position: relative;
}

.content-Container {
  padding: $base-spacingDouble;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
}

.experience { background-color: $lightGrey;

  li { color: $medGrey; }

  header { color: $darkGrey; }
}

.hero {
  background: $medGrey $heroImg no-repeat;
  background-size: cover;
  position: relative;

  aside {
    align-self: center;
    font-weight: 300;
  }
}

.hero-headerContainer {
  align-self: center;
  margin-bottom: $base-spacingDouble;

  header {
    font-size: $fontSize-xl;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 0;
  }
}

.hero-contactIcons {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  max-width: 25rem; // 400px
  margin: 0 auto $base-spacing;

  > div {
    max-width: 1.875rem; // 30px
    width: 25%;
    display: inline-block;
    transition: all 0.1s linear;
  }
}