/**********************
  Tablet Styles
**********************/

@media (min-width: 700px) {

  h2 { font-size: $fontSize-sm; }

  header { font-size: $fontSize-lg; }

  p { font-size: $fontSize-sm; }

  li { font-size: $fontSize-sm; }

  .list-header { font-size: $fontSize-lg; }

  .bp-logo { display: block; }

  .content-Container { padding: $tablet-spacingDouble; }

  .hero aside { font-size: $fontSize-sm; }

  .hero-headerContainer header { font-size: $fontSize-xxl; }

  .hero-contactIcons {
    max-width: 31.25rem; // 500px
    margin: 0 auto $tablet-spacing;

    > div { max-width: 2.8125rem; } // 45px
  }

  .hero-headerContainer { margin-bottom: $tablet-spacing; }

  .backToTop-btn {
    width: 9.375rem; // 150px
    margin: $tablet-spacingDouble auto;
  }
}