/**********************
  Tablet Styles
**********************/

@media (min-width: 700px) {

  h2 { font-size: $fontSize-sm; }

  p { font-size: $fontSize-sm; }

  .backToTop-btn {
    width: 9.375rem; // 150px
    margin: $tablet-spacingDouble auto;

    img { width: 100%; }
  }

  .contentContainer { padding: $tablet-spacingDouble; }

  .hero {

    header { font-size: $fontSize-xxl; }

    aside { font-size: $fontSize-sm; }
  }

  .hero-contactIcons {
    max-width: 31.25rem; // 500px
    margin: 0 auto $tablet-spacing;

    > div { max-width: 2.8125rem; } // 45px
  }

  .headingContainer { margin-bottom: $tablet-spacing; }

  .sectionHeader { font-size: $fontSize-xl; }

  li { font-size: $fontSize-sm; }

  li.listHeader { font-size: $fontSize-lg; }

}