// Font sizing
$fontSize-base: 1rem;     // 16px
$fontSize-xm:   0.875rem; // 14px
$fontSize-sm:   1.25rem;  // 22px
$fontSize-m:    1.5rem;   // 24px
$fontSize-lg:    2rem;     // 32px
$fontSize-xl:   3rem;     // 48px
$fontSize-xxl:  4.5rem;    // 72px
$fontSize-bam:  6.25rem;  // 100px

// Base Spacing
$base-spacing:       0.75rem;           // 12px
$base-spacingDouble: $base-spacing * 2; // 24px

// Tablet Spacing
$tablet-spacing:       2.25rem;             // 36px
$tablet-spacingDouble: $tablet-spacing * 2; // 72px

// Colors
$lightGrey: rgba(218, 218, 218, 1); // #dadada
$medGrey: rgba(57, 111, 120, 1);  // #396f78
$darkGrey:  rgba(70, 70, 70, 0.8);    // #464646
$orange:    rgba(186, 97, 32, 0.8);   // #ba6120
$blue:      rgba(0, 166, 182, 1);   // #00a6b6
$white:     rgba(255, 255, 255, 1); // #ffffff

// Contact Icons
$githubIcon:    url(../../images/github_white.svg);
$twitterIcon:   url(../../images/twitter.svg);
$linkedinIcon:  url(../../images/linkedin.svg);
$instagramIcon: url(../../images/instagram.svg);

// Section Images
$heroImg:   url(../../images/boston-bg-min.jpg);
$aboutImg:  url(../../images/ronnie_and_coop-min.jpg);