@import "reset";
@import "vars";

body {
  font-size: $fontSize-base;
  font-family: "Hind Siliguri", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

p {
  font-size: $fontSize-base;
  color: $white;
  margin-bottom: $base-spacing;
}

a {
  color: $white;
  text-decoration: none;
  transition: all .1s ease-in-out;
  display: inline-block;
}

header {
  width: 100%;
  text-align: center;
  margin-bottom: $base-spacingDouble;
  font-size: $fontSize-lg;
  font-weight: 600;
  color: $white;
  text-decoration: underline;
}

h2 {
  color: $white;
  font-size: $fontSize-base;
  font-weight: 300;
  top: -10px;
  position: relative;
}

aside {
 display: inline-block;
 font-size: $fontSize-xm;
 font-weight: 600;
 padding-left: $base-spacing;
}

li {
  font-size: $fontSize-base;
  color: $white;
  padding-left: $base-spacing;
}

a[href="https://www.thewholepye.com"]:hover {
  img {
    transform: translateY(-0.5rem); // -8px
  }
}

.siteContainer {
  min-width: 18.75rem; // 300px
  margin: 0 auto;
  position: relative;
}

.contentContainer {
  padding: $base-spacingDouble;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
}

.sectionList {
  margin-bottom: $base-spacingDouble;
}

.listHeader {
  font-size: $fontSize-m;
  font-weight: 500;
  color: $darkGrey;
  padding-left: 0;
}

.contactAnchor {
  color: $blue;
  text-decoration: underline;
}

.hero {
  background: $medGrey $heroImg no-repeat;
  background-size: cover;

  aside {
    align-self: center;
    font-weight: 300;
  }
}

.hero-headerContainer {
  align-self: center;
  margin-bottom: $base-spacingDouble;

  header {
    font-size: $fontSize-xl;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 0;
  }
}

.hero-contactIcons {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  max-width: 25rem; // 400px
  margin: 0 auto $base-spacing;

  > div {
    max-width: 1.875rem; // 30px
    width: 25%;
    display: inline-block;
    transition: all 1s linear;

    img { width: 100%; }

    &:hover img {
      transform: translateY(-0.3125rem) scale3d(1.05, 1.05, 1.05); // -5px
    }
  }
}

.skills { background-color: $blue; }

.experience {
  background-color: $lightGrey;
  
  .sectionHeader { color: $darkGrey; }

  li { color: $medGrey; }
}

.about { background-color: $orange; }

.contact {
  background-color: $darkGrey;
  position: relative;
}

.backToTop-btn {
  width: 6.25rem; // 100px
  margin: $base-spacingDouble auto;

  img { width: 100%; }
}

.TWP-logo--sm { width: 12.5rem; } // 200px

.TWP-logo--lg {
  width: 12.5rem;
  display: none;
  position: absolute;
  right: 4.5rem; // 72px
  bottom: 3.25rem; // 52px
}

.anchorTranslate:hover { transform: translateY(-0.125rem); }

/**********************
  Tablet Styles
**********************/

@media (min-width: 700px) {

  h2 { font-size: $fontSize-sm; }

  p { font-size: $fontSize-sm; }

  .backToTop-btn {
    width: 9.375rem; // 150px
    margin: $tablet-spacingDouble auto;

    img { width: 100%; }
  }

  .contentContainer { padding: $tablet-spacingDouble; }

  .hero {

    header { font-size: $fontSize-xxl; }

    aside { font-size: $fontSize-sm; }
  }

  .hero-contactIcons {
    max-width: 31.25rem; // 500px
    margin: 0 auto $tablet-spacing;

    > div { max-width: 2.8125rem; } // 45px
  }

  .headingContainer { margin-bottom: $tablet-spacing; }

  .sectionHeader { font-size: $fontSize-xl; }

  li { font-size: $fontSize-sm; }

  li.listHeader { font-size: $fontSize-lg; }

}

/**********************
  Desktop Styles
**********************/

@media (min-width: 1000px) {

  h2 { font-size: $fontSize-m; }

  p {
    font-size: $fontSize-m;
    font-weight: 300;
  }

  .backToTop-btn { display: none; }

  .skills, .experience, .about, .contact {
    width: 50%;
    justify-content: flex-start;
  }

  .hero {
    height: 43.75rem; // 700px

    header { font-size: $fontSize-bam; }

    aside { font-size: $fontSize-m; }
  }

  li {
    font-size: $fontSize-m;
    font-weight: 300;
  }

  .hero-contactIcons {
    max-width: 43.75rem; // 700px
    margin: $tablet-spacing auto $tablet-spacingDouble;

    > div { max-width: 3.75rem; } // 60px
  }

  .flexContainer {
    display: flex;
    background: $aboutImg no-repeat;
    background-size: cover;
  }

  .TWP-logo--sm { display: none; }

  .TWP-logo--lg { display: block; }
}